*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
    background-image: url("/pics/m1.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
ul{
    background-color: black;
    list-style-type: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}
ul li{
    display: inline-block;
    width: 230px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 16px 0px;
}
ul li a span.icons{
    font-size: 30px;
    margin-right: 10px;
}
ul li a span.txtMenuTitle{
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 2px;
}
ul li a:hover{
    background-color: white;
    color: black;
}
.content{
    padding: 90px 30px;
    text-align: justify;
    color: black;
    height: 100vh;
}
.content h1{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}
.content h2{
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: black;
    text-align: center;
}
.content h4{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}
.box1 {
    width: 820px;
    height: 170px;
    background-color: black;
    background-image: url("/pics/m2.png"), url("/pics/m3.png");
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: left, right;
    color: white;
    text-align: center;
    margin: auto;
}
.box1 div{
    width: 500px;
    padding-top: 40px;
    padding-left: 150px;
}
.content p{
    line-height: 1.5;
    text-transform: capitalize;
}
.center{
    margin: auto;
    text-align: center;
}
.tdd{
    width: 200px;
    height: 200px;
}
table tbody tr td.cell1{
    background-color: black;
}
table tbody tr td.cell2{
    background-color: gray;
}
table tbody tr td.cell3{
    background-color: rgb(177, 176, 176);
}
@font-face {
    font-family:'CormorantGaramond' ;
    src: url("/fonts/CormorantGaramond-Light.ttf");
}
@font-face {
    font-family:'FredokaOne' ;
    src: url("fonts/FredokaOne-Regular.ttf");
}
.content div.box2{
    width: 300px;
    margin: auto;
    padding: 10px 10px;
    text-align: center;
}
.content div.box2 p.para1{
    font-family:'CormorantGaramond' ;
    font-size: 25px;
    font-weight: bold;
    color: gray;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.content div.box2 p.para2{
    color: black;
    font-family:'FredokaOne' ;
    font-size: 50px;
}
.content div.box2 div.line{
    height: 6px;
    background-color: black;
    border-radius: 20px;
    width: 230px;
    margin: auto;
}
.content div.box2 p.para3{
    font-family:'CormorantGaramond' ;
    font-size: 20px;
    color: rgb(177, 176, 176);
    font-style: italic;
    line-height: 1.4;
    margin-top: 25px;
}
.container{
    width: 750px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 2px 3px lightgray;
    margin: 25px auto;
    padding: 20px;
    background-color: gray;
}
.container img{
    float: left;
    display: block;
    width: 250px;
    height: 250px;
}
div.link a{
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    padding: 14px 40px;
    border-radius: 6px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    margin-right: 10px;
    background-color: gray;
    border-bottom-color: black;
}
div.link a.lnk1{
    padding: 14px 40px;
}
div.link a.lnk2{
    padding: 14px 65px;
}
.border{
    border: 2px dashed black;
}
.float{
    float: left;
}
.container1{
    width: 770px;
    margin: 15px auto;
    border-radius: 5px;
    overflow: auto;
}
.container1 div.cell1{
    width: 30%;
    padding: 15px;
}
.container1 div.cell1 img{
    width: 100%;
}
.container1 div.cell2{
    width: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 10px;
}
.container1 div.cell2 h1{
    text-transform: capitalize;
    color: black;
    margin-bottom: 12px;
}
.container1 div.cell2 p{
    text-align: justify;
    color: black;
    line-height: 1.7;
}
.container2 {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container2 div.row{
    display: flex;
}
.container2 div.row div{
    padding: 20px;
    border: 2px solid black;
    color: black;
    margin: 8px;
}
.container2 div.row div h2{
    text-transform: capitalize;
    font-family: sans-serif;
    margin: 5px 0px;
}
.container2 div.row div p{
    text-align: justify;
    font-family: sans-serif;
}
.container2 div.row span{
    font-size: 30px;
}
.container2 div.row div:hover{
    background-color: gray;
    border-color: black;
    color: white;
}
.boxx{
    width: 400px;
    font-weight: bold;
    margin: 70px auto;
}
.boxx p{
    background-color: black;
    text-align: justify;
    display: none;
}
.boxx:hover p{
    display: block;
    color: white;
}
div.link1 a{
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    padding: 14px 40px;
    border-radius: 30px;
    border-width: 10px;
    border-style: solid;
    margin-right: 10px;
    background-color: gray;
    border-color: black;
}
div.link1 a.lnk11{
    padding: 14px 50px;
}
div.link1 a.lnk22{
    padding: 14px 65px;
}
.center1{
    margin: 70px auto;
    text-align: center;
}
div.container3{
    width: 850px;
    height: 170px;
    margin: 30px auto;
    background-color: gray;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.433);
    font-family: sans-serif;
    color: white;
}
div.container3 img.basicIMG{
    width: 275px;
    height: 180px;
}
div.container3 p.basicPara{
    text-align: justify;
    line-height: 1.2;
}
.float-left{
    float: left;
}
div.container3 p.p2{
    width: 270px;
    padding: 0px 14px;
    margin-bottom: 20px;
}
.tab{
border-collapse: collapse;
width: 800px;
margin: 30px auto;
font-family: 'VarelaRound';
text-align: center;
border-bottom: 10px solid black;
font-size: 20px;
}
.th{
    background-color: black;
    color: white;
}
.th,.td{
    padding: 1px 1px;
}
.odd{
    background-color: white;
    color: black;
}
.even{
    background-color: white;
    border-top: 1px solid black;
    color: black;
}
.round1{
    border-top-left-radius: 10px;
}
.round2{
    border-top-right-radius: 10px;
}
.ax{
    width: 40px;
}
div.link11 a{
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    padding: 1px 40px;
    border-radius: 10px;
    border-width: 5px;
    border-style: dashed;
    background-color: gray;
    border-color: black;
}
div.link11 a.lnk111{
    padding: 10px 60px;
}
.up{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
}
div.iconsSection{
    text-align: center;
    padding: 14px;
}
div.iconsSection a{
    text-decoration: none;
    color: black;
    font-size: 45px;
    margin: 0px 30px;
}